html {
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  text-align: center;
  font-family: 'Roboto';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

a {
  color: #666;
  text-decoration: none;
}

i {
    color: #CCC;
}

h1, h2 {
  width: 100%;
  float: left;
}

h1 {
  margin-top: 100px;
  color: #999;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 100;
}

h2 {
  padding: 00px 20px 30px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  letter-spacing: 0px;
  color: #888;
  font-size: 20px;
  line-height: 160%;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0;
}

video {
	pointer-events: none;
}

.header {
  padding: 30px 0 0;
  float: left;
  width: 100%;
  background: white;
  overflow: hidden;
  clear: both;
}

.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main h1 {
  padding:20px 50px 10px;
  float: left;
  width: 100%;
  font-size: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 25px;
  font-family: 'Roboto';
  letter-spacing: -1px;
}

.ps-list {
  float: left;
  width: 100%;
}

.video-text {
    margin-top: 0;
    margin-bottom: 0;
}

.videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.footer {
	padding: 30px 0 30px 0;
	float: left;
	width: 100%;
	background: white;
	overflow: hidden;
	clear: both;
}

#playpause {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px 15px;;
    background: rgba(0,0,0,0.5);
}

#playpause img {
	vertical-align: middle;
	height: 15px;
	margin-bottom: 4px;
	margin-left: 5px;	
}

#player {
	max-width: 90%;
}

@media screen and (max-width: 740px) {
    h3 a {
    	font-size: 20px !important;
	}
	h1 {
		font-size: 30px !important;
	}
	h2 {
		font-size: 20px !important;
	}
	.ps-header {
		padding: 60px 20px !important;
	}
	i {
    	font-size: 12px;
	}
	.list-item video {
		display: none;
	}
}

@media screen and (min-width: 741px) {
	.ps-header {
		padding: 150px 20px !important;
	}
	i {
    	font-size: 16px;
    }
}